<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Inicio</title>

</head>
<body>
<form th:action="@{/login}" method="post" th:object="${usuarioDto}">
    <!--<input type="hidden" name="idProducto" th:field="*{idProducto}"/>-->
    <br/>
    <label for="nombreUsuario">Nombre de usuario:</label>
    <input type="text" name="nombreUsuario" id="nombreUsuario" th:field="*{nombreUsuario}">
    <label for="passwordUsuario">Contraseña:</label>
    <input type="text" name="passwordUsuario" id="passwordUsuario" th:field="*{passwordUsuario}">


    <input type="submit" name="guardar" value="Guardar"/>


</form>
</body>
</html>